asttokens==3.0.1
colorama==0.4.6
comm==0.2.3
comtypes==1.4.15
debugpy==1.8.20
decorator==5.2.1
dxcam==0.0.5
dxcam_cpp==0.2.5
easyocr==1.7.2
executing==2.2.1
filelock==3.20.0
fsspec==2025.12.0
ImageIO==2.37.2
ipykernel==7.1.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
Jinja2==3.1.6
jupyter_client==8.8.0
jupyter_core==5.9.1
lazy_loader==0.4
MarkupSafe==2.1.5
matplotlib-inline==0.2.1
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.6.1
ninja==1.13.0
numpy==2.3.5
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
packaging==26.0
parso==0.8.5
pillow==12.0.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
psutil==7.2.2
pure_eval==0.2.3
pyclipper==1.4.0
Pygments==2.19.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
pywin32==311
PyYAML==6.0.3
pyzmq==27.1.0
scikit-image==0.26.0
scipy==1.17.0
setuptools==70.2.0
shapely==2.1.2
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tifffile==2026.1.28
torch==2.10.0+cu128
torchvision==0.25.0+cu128
tornado==6.5.4
traitlets==5.14.3
typing_extensions==4.15.0
wcwidth==0.5.3
